<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About
                        <span>wiSource</span>
                    </h1>
                    <h3>Truy xuất nguồn gốc nông sản</h3>
                    <p class="about-paddingB">wiSource là giải pháp hỗ trợ truy xuất nguồn gốc nông sản, chú trọng đến sản phẩm thanh long, kết hợp với doanh nghiệp, nhà nông, giúp khách hàng có thể dễ dàng truy xuất nguồn gốc sản phẩm. 
                        Khách hàng có thể xem đầy đủ các thông tin của sản phẩm nông sản như thông tin nhà sản xuất, thông tin giống, thông tin sử dụng thuốc BVTV hay phân bón ...
                    </p>
                    <p>Các thông tin trên wiSource đảm bảo độ tin cậy cao, giúp khách hàng an tâm hơn trong việc lựa chọn sản phẩm nông sản.</p>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>