<div class="modal fade new-conversation" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" ng-if="!infoModalCtrl.history">
            <div class="modal-header" style="border: none;">
                <button type="button" ng-click="infoModalCtrl.ok()" class="close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title" style="text-align: center; font-weight: bold">Thông tin {{infoModalCtrl.type}}</h4>
            </div>
            <div class="modal-body body">
                <table style="width: 100%">
                    <tbody>
                        <tr style="border-bottom: 1px solid #ddd">
                            <td style="font-weight: bold">Tên</td>
                            <td style="border-top: none;">{{infoModalCtrl.info.name}}</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ddd">
                            <td style="font-weight: bold">Nhà cung cấp</td>
                            <td>{{infoModalCtrl.info.provider}}</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ddd">
                            <td style="font-weight: bold">Ngày mua</td>
                            <td>{{infoModalCtrl.info.buyDate}}</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ddd">
                            <td style="font-weight: bold">Nơi mua</td>
                            <td>{{infoModalCtrl.info.buyPlace}}</td>
                        </tr>
                        <tr style="border-bottom: 1px solid #ddd">
                            <td style="font-weight: bold">Công dụng</td>
                            <td>{{infoModalCtrl.info.usable}}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Liều dùng</td>
                            <td>{{infoModalCtrl.info.description}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="modal-content" ng-if="infoModalCtrl.history">
            <div class="modal-header" style="border: none;">
                <button type="button" ng-click="infoModalCtrl.ok()" class="close">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body body">
                <p>{</p>
                <p>"name": "Thanh long ruột đỏ TL5",</p>
                <p>"produceDate": "13/04/2018"</p>
                <p>"buyDate": "29/04/2018"</p>
                <p>"description": "Cành to màu xanh đậm. Ra hoa tự nhiên tập trung chủ yếu từ tháng 4 - 10. Có 10 - 11 đợt hoa
                    trong năm. Quả dạng thuôn dài. Khối lượng quả trung bình 0,4 - 0,45kg. Thịt quả màu đỏ. Năng suất đạt
                    10 - 12kg/trụ."</p>
                <p>}</p>
            </div>
        </div>

    </div>
</div>