<div class="wrapper">
    <div class="sticky_navigation_wrapper">
        <div class="sticky_navigation">
            <div class="container" style="max-width: unset;padding: 0; margin: 0; width: 100%;">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" ui-sref="home">wiSource</a>
                        </div>
                        <ul class="nav navbar-nav" style="display: inline;">
                            <li>
                                <a ui-sref="home">Home</a>
                            </li>
                            <!-- <li>
                                <a ui-sref="info">Info</a>
                            </li> -->
                            <li class="dropdown">
                                <a>Cập nhật</a>
                                <div class="dropdown-content">
                                    <a ui-sref='update-product'>Sản phẩm</a>
                                    <a ui-sref="update-species">Giống</a>
                                    <a ui-sref="update-plot">Lô đất</a>
                                    <a ui-sref="update-producer">Nhà sản xuất</a>
                                    <a ui-sref="update-plant">Vụ gieo trồng</a>
                                    <a ui-sref="update-bvtv">Thuốc BVTV</a>
                                    <a ui-sref="update-phan">Phân bón</a>
                                    <a ui-sref="update-harvest">Thu hoạch</a>
                                    <a ui-sref="update-class">Phân loại</a>
                                </div>
                            </li>
                            <li>
                                <a ui-sref="about">About</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>