ul {
    list-style: none;
    padding: 0;
}
user-list li {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 2px
;
}
user-list button {
    margin-top: 3px;
}
.padding-left-1-em {
    padding-left: 1em;
}
.padding-left-half-em {
    padding-left: 0.5em;
}
.width-110-px {
    width: 110px;
}
.width-120-px {
    width: 120px;
}
.width-80-px {
    width:80px;
}
.option-label {
    display: inline-block;
    min-width: 56px;
}
.color-green {
    color: greenyellow;
}
.margin-left-230px {
    margin-left: 230px;
}
.width-170-px {
    width: 170px;
}
.text-align-left {
    text-align: left;
}
.username {
    vertical-align: middle;
    overflow: hidden;
}
.margin-left-1-em {
    margin-left: 1em;
}
th {
    height: 40px;
} 
td {
    padding: 5px;
}
thead {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}